<form [formGroup]="filtersForm" novalidate class="mat-h3">
    <md-input-container class="filter-container" color="accent">
        <button md-icon-button mdPrefix mdTooltip="Search">
            <md-icon>search</md-icon>
        </button>
        <input mdInput formControlName="name" placeholder="Filter by name">
        <button md-icon-button mdSuffix mdTooltip="Clear filter" 
                (click)="filtersForm.get('name')!.setValue('')">
            <md-icon>clear</md-icon>
        </button>
    </md-input-container>

    <md-button-toggle-group formControlName="side" color="accent">
        <md-button-toggle value="light" mdTooltip="Light side">
            <md-icon>wb_sunny</md-icon>
        </md-button-toggle>
        <md-button-toggle value="none" mdTooltip="No side filter">
            <md-icon>swap_horiz</md-icon>
        </md-button-toggle>
        <md-button-toggle value="dark" mdTooltip="Dark side">
            <md-icon>brightness_3</md-icon>
        </md-button-toggle>
    </md-button-toggle-group>
</form>