@import '~midnight-lizard-vendor/themes/light-theme.scss';

.root {
    height: 100%;
}

md-toolbar {
    z-index: 1;
}

.content {
    min-height: 100%;
}

.center {
    background-color: mat-color($ml-content);
    padding: 20px;
    border-right: dashed 0.5px rgba(234, 234, 234, 0.80);
}

.left-side {
    width: 20%;
    border-right: dashed 0.5px rgba(234, 234, 234, 0.80);
}

.right-side {
    min-height: 100%;
    padding: 20px;
    background-color: mat-color($ml-background);
}

.right-side-container {
    position: sticky;
    top: 20px;
}

.mat-sidenav-content {
    overflow-y: scroll !important;
}
