<mat-grid-list [cols]="cols" gutterSize="20" [rowHeight]="aspect">
    <mat-grid-tile *ngFor="let scheme of schemes$|async; index as ix; trackBy: trackById">
        <mat-card [tabindex]="100+ix" [attr.sid]="scheme.id">
            <mat-card-header [matTooltip]="scheme.name" matTooltipPosition="above">
                <mat-icon mat-card-avatar>palette</mat-icon>
                <a mat-card-title [href]="scheme.screenshots[0].url" target="_blank">
                    {{scheme.name}}
                </a>
            </mat-card-header>
            <!--<a mat-card-title [href]="scheme.imageUrl" target="_blank">
                <mat-icon mat-card-avatar>palette</mat-icon>
                <span>
                    {{scheme.colorSchemeName}}
                </span>
            </a>-->
            <img mat-card-image [src]="scheme.screenshots[0].url">
            <mat-card-actions>
                <button mat-icon-button
                        [color]="scheme.liked ? 'accent' : 'primary'"
                        [matTooltip]="scheme.liked ? 'Remove like' : 'Add like'"
                        (click)="toggleSchemeLiked(scheme)">
                    <mat-icon>thumb_up</mat-icon>
                    <p style="font-size:10px;position:absolute;top:28px;left:8px;line-height:10px;">{{scheme.likes}}</p>
                </button>
                <button mat-icon-button
                        [color]="scheme.favorited ? 'warn' : 'primary'"
                        [matTooltip]="scheme.favorited ? 'Remove from favorites' : 'Add to favorites'"
                        (click)="toggleSchemeFavorited(scheme)">
                    <mat-icon>{{scheme.favorited ? "favorite" : "favorite_border"}}</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Download">
                    <mat-icon>file_download</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Add to your browser">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Share">
                    <mat-icon>share</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<cs-paginator></cs-paginator>