<div fxLayout="column" class="root">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-sidenav-container fxFlex="100">
        <mat-sidenav class="left-side" mode="side" opened="true">
            <router-outlet name="left-side"></router-outlet>
        </mat-sidenav>
        <div fxLayout="row" fxLayout.lt-md="column" class="content">
            <div class="center" fxFlex>
                <router-outlet></router-outlet>
            </div>
            <div class="right-side" fxFlex="25%" fxFlex.lt-md="nogrow" fxFlexOrder.lt-md="-1">
                <div class="right-side-container">
                    <router-outlet name="right-side"></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-container>

</div>