@import '~midnight-lizard-vendor/themes/light-theme.scss';
@import '~@angular/material/theming';
.root {
    height: 100%;
}

mat-toolbar {
    z-index: 2;
    @include mat-elevation(6);
}

.content {
    min-height: 100%;
}

.center {
    background-color: mat-color($ml-content);
    padding: 20px;
    border-right: dashed 0.5px rgba(234, 234, 234, 0.80);
}

.left-side {
    width: 20%;
    border-right: dashed 0.5px rgba(234, 234, 234, 0.80);
    transform: translate3d(0px, 0px, 0px);
}

.right-side {
    min-height: 100%;
    padding: 20px;
    background-color: $ml-background;
}

.right-side-container {
    position: sticky;
    top: 20px;
}

.mat-drawer-content {
    margin-left: 20%;
    overflow-y: scroll !important;
}

.mat-drawer-container {
    flex: 1 1 0px;
}