@import '../../themes/light-theme.scss';

.filter-container {
    width: 100%;
}

md-button-toggle-group {
    width: 100%;
    text-align: center;
}

md-button-toggle {
    width: 34%;
    text-align: center;
}

.mat-button-toggle-checked {
    background-color: mat-color($ml-accent, A100);
}

.mat-button-toggle-checked:first-child {
    border-radius: 2px 0px 0px 2px;
}

.mat-button-toggle-checked:last-child {
    border-radius: 0px 2px 2px 0px;
}
