<md-nav-list>
    <a md-list-item routerLink="/schemes/index/full"
       routerLinkActive="active-section"
       mdTooltip="All Midnight Lizard color schemes"
       mdTooltipPosition="right">
        <md-icon md-list-icon>styles</md-icon>
        <p md-line>All schemes</p>
    </a>

    <md-divider></md-divider>

    <h3 md-subheader mdTooltip="My personal lists" mdTooltipPosition="right">
        Personal lists
    </h3>
    <a md-list-item routerLink="/schemes/index/my"
       routerLinkActive="active-section"
       mdTooltip="Schemes created by me"
       mdTooltipPosition="right">
        <md-icon md-list-icon>account_circle</md-icon>
        <p md-line>My schemes</p>
    </a>
    <a md-list-item routerLink="/schemes/index/favorites"
       routerLinkActive="active-section"
       mdTooltip="My favorite schemes"
       mdTooltipPosition="right">
        <md-icon md-list-icon>favorite</md-icon>
        <p md-line>Favorites</p>
    </a>
    <a md-list-item routerLink="/schemes/index/liked"
       routerLinkActive="active-section"
       mdTooltip="Schemes I like"
       mdTooltipPosition="right">
        <md-icon md-list-icon>thumb_up</md-icon>
        <p md-line>Liked schemes</p>
    </a>

    <md-divider></md-divider>

    <h3 md-subheader mdTooltip="Public lists" mdTooltipPosition="right">
        Public lists
    </h3>
    <a md-list-item routerLink="/schemes/index/popular"
       routerLinkActive="active-section"
       mdTooltip="Most popular schemes"
       mdTooltipPosition="right">
        <md-icon md-list-icon>stars</md-icon>
        <p md-line>Popular</p>
    </a>
    <a md-list-item routerLink="/schemes/index/original"
       routerLinkActive="active-section"
       mdTooltip="Schemes created by Midnight Lizard"
       mdTooltipPosition="right">
        <md-icon md-list-icon style="">verified_user</md-icon>
        <p md-line>Original</p>
    </a>
    <a md-list-item routerLink="/schemes/index/comunity"
       routerLinkActive="active-section"
       mdTooltip="Schemes created by comunity members"
       mdTooltipPosition="right">
        <md-icon md-list-icon style="">people</md-icon>
        <p md-line>Comunity</p>
    </a>
</md-nav-list>